body {
    font-family: Arial, sans-serif;
    background-color: #282828;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.music-container {
    background-color: #181818;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.music-info h4 {
    margin: 0;
    font-size: 1.2rem;
}

.navigation {
    margin-top: 10px;
}

.action-btn {
    background-color: #1db954;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
}

.action-btn-big {
    font-size: 20px;
    padding: 15px;
}

.progress-container {
    background-color: #404040;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    height: 5px;
    cursor: pointer;
}

.progress {
    background-color: #1db954;
    height: 100%;
    width: 0%;
    border-radius: 10px;
}
